.slider-controls {
    display: grid;
    gap: 15px;
    /* .slider-controls__arrows */

    &__arrows {
        display: flex;
        gap: 5px;
        opacity: 0.3;
    }

    /* .slider-controls__count */

    &__count {
        // padding-left: 16px;
        display: flex;
        gap: 6px;
        justify-content: flex-end;
        align-items: flex-end;

        color: rgba(255, 255, 255, 0.3);
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        text-align: right;
    }

    /* .slider-controls__count-current */

    &__count-current, .swiper-pagination-current {
        font-size: 32px;
        line-height: 0.75;
        color: white;
    }

    /* .slider-controls__count-total */

    &__count-total {
    }
}
